* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.container {
  position: relative;
}

.background {
  max-width: 1920px;
  max-height: 1080px;
}

.background__img {
  width: 100%;
}

.dot {
  position: absolute;
  opacity: 0.7;
  border-radius: 40px;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
}

.dot.active > .text {
  display: block;
}

.img {
  margin: 15px;
  background-image: url(/image/svg/plus.svg);
  height: 10px;
  width: 10px;
}

.img-minus {
  margin: 15px;
  background-image: url(/image/svg/minus.svg);
  height: 2px;
  width: 10px;
}

.text {
  margin: 11px 15px 11px 0;
  display: none;
}
